/* global */

figure {
	margin: 0;
}

.layout {
	width: 1080px;
	margin: 0 auto;
}

p {
	margin-top: 1.4em;
	margin-bottom: 1.4em;
}

/* header */

.logo {
	width: 350px;
	position: relative;
	top: 70px;
}

header {
	height: 180px;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
    background-image: url(../img/pattern.png);
    background-color: rgb(44, 120, 207);
}	

/* article */
	/* title */
h1 {
	margin: 20px 0px 0px 0px;
}		

#main-title {
	font-size: 3rem;
}	
	/* address */
address {
	color: grey;
	font-style: normal;
	margin-bottom: 20px;
}

#address-homepage-link {
	font-size: 1.1rem;
	color: lightskyblue;
	text-decoration: none;
}

#address-date {
	font-size: 0.8rem;
}
	/* ul */
ul {
	padding-left: 1em;
	margin-top: 1.4em;
	margin-bottom: 1.4em;
}	

	/* table */

table {
	border-collapse: collapse;
}

thead {
	background-color: rgb(74, 176, 240);
	color: white;
	text-align: left;
}
 .short-column {
	 width: 20%;
}

.colored-row {
	background-color: lightblue;
}

	/* Aside */

h2 {
	color: white;
	padding: 5%;
}

#aside-recommendations {
	color: lightslategray;
}

.recommendation {
	width: 312px;
	height: 208px;
}

.first {
	background-image: url(../img/monitor.jpg);
	background-size: contain;
}

.second {
	background-image: url(../img/graph.jpg);
}