header {
    height: 180px;
	margin-top: -8px;
	margin-left: -8px;
    background-image: url(../img/pattern.png);
    background-color: rgb(44, 120, 207);
}

figure {
	margin: 0;
}

h1 {
	margin: 20px 0px 0px 0px;
}

ul {
	padding-left: 1em;
}

.logo {
    width: 350px;
	position: relative;
	top: 70px;
}

#main-title {
	font-size: 3rem;
}

address {
	color: grey;
    font-style: normal;
}

#address-homepage-link {
	font-size: 1.1rem;
	color: lightskyblue;
	text-decoration: none;
}

#address-date {
	font-size: 0.8rem;
}

 table {
	border-collapse: collapse;
  }

thead {
	background-color: rgb(74, 176, 240);
	color: white;
	text-align: left;
}
 .short-column {
	 width: 20%;
}

.colored-row {
	background-color: lightblue;
}