header {
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: rgb(50, 164, 235);
}

#logo {
    width: 250px;
    object-position: left center;
}

#main-title {
	font-size: 3rem;
}

address {
	color: grey;
    font-style: normal;
}

#address-homepage-link {
	font-size: 1.1rem;
}

#address-date {
	font-size: 0.7rem;
}

 table {
	border-collapse: collapse;
  }

thead {
	background-color: rgb(74, 176, 240);
	color: white;
	text-align: left;
}
 .short-column {
	 width: 15em;
}

.colored-row {
	background-color: lightblue;
}